font-family = FiraCode Nerd Font Mono Ret
font-size = 13
theme = rose-pine-dawn
title = " "
cursor-style = bar
cursor-style-blink = false
mouse-hide-while-typing = true
command = /etc/profiles/per-user/cmiki/bin/fish
macos-option-as-alt = true
macos-titlebar-proxy-icon = hidden
shell-integration-features = no-cursor
