themes {
    rose-pine-dawn {
        bg "#dfdad9"
        fg "#575279"
        red "#b4637a"
        green "#286983"
        blue "#56949f"
        yellow "#ea9d34"
        magenta "#907aa9"
        orange "#fe640b"
        cyan "#d7827e"
        black "#f2e9e1"
        white "#575279"
    }
}

theme "rose-pine-dawn"
default_shell "fish"

plugins {
    autolock location="https://github.com/fresh2dev/zellij-autolock/releases/latest/download/zellij-autolock.wasm" {
        is_enabled true
        reaction_seconds "1.0"
        triggers "nvim|vim|zoxide|atuin"
    }
}

load_plugins {
    autolock
}

keybinds {
    shared {
        bind "Alt h" {
            MoveFocusOrTab "Left"
        }
        bind "Alt l" {
            MoveFocusOrTab "Right"
        }
        bind "Alt j" {
            MoveFocus "Down"
        }
        bind "Alt k" {
            MoveFocus "Up"
        }
        bind "Alt n" {
            NewPane
        }
    }
}
