* {
  font-family: "FiraCode Nerd Font Propo, Noto Sans Mono CJK SC";
  font-size: 10pt;
}

window.topbar#waybar {
  background: rgba(46, 52, 64, 0);
  opacity: 0.9;
}

window.taskbar#waybar {
  background: rgba(46, 52, 64, 0.9);
  opacity: 0.9;
}

#custom-nixos {
  margin-left: -10px;
  padding-top: 2px;
  font-size: 8pt;
}
